SECRET_KEY=change-me
DEBUG=1
ALLOWED_HOSTS=localhost,127.0.0.1,backend

POSTGRES_DB=boss_job
POSTGRES_USER=boss_user
POSTGRES_PASSWORD=boss_pass
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_URL=redis://redis:6379/0
MONGO_URI=mongodb://mongo:27017/job_platform
ZHAOPIN_STORAGE_STATE=/app/crawler/auth_zhaopin.json
ZHAOPIN_USER_DATA_DIR=/app/crawler/.pw-zhaopin-user-data
BOSS_STORAGE_STATE=/app/crawler/auth.json

ACCESS_TOKEN_MINUTES=120
CORS_ALLOW_ALL=1
THROTTLE_ANON=100/min
THROTTLE_USER=200/min
